<p id="notice"><%= notice %></p>

<h1>Teams</h1>
<table class='table table-striped sortable'>
  <thead>
    <tr>
      <th>Team Name</th>
      <th>About This Team</th>
      <th>Contact Person</th>
      <th>Group Email</th>
      <th colspan="2" data-defaultsort='disabled'></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= team.description %></td>
        <td><%= team.contact_user %></td>
        <td><%= team.group_email %></td>
        <td><%= link_to 'Edit', edit_team_path(team) if (@current_user && (@current_user.isAdmin? || (@current_user.team_id == team.id))) %></td>
        <% if false && @current_user && @current_user.isAdmin? %>
          <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="help-block">Team not on the list? <%= link_to "Add New Team!", new_team_path %></span>

<br>
