<body class="centered-wrapper">
	<div class="form-group col-xs-6" align="center">
		<h1>Logg'n Here</h1>
		<p>
		<%= bootstrap_form_tag url: login_path do |f| %>
			<%= f.text_field :email, value: params[:email], label: "E-mail Address" %>
		    <%= f.password_field :password, value: params[:password] %>

			<%= submit_tag "Logg In!", class: "btn btn-success" %>
			<%= link_to "Forgot Password?", forgot_password_path, class: "btn btn-danger" %>
		<% end %>
		</p>
	</div>
<p id="notice"><%= notice %></p>
</body>