<h1 align="center">Logg'n Here</h1>
<body class="centered-wrapper">
	<%= bootstrap_form_tag url: login_path do |f| %>
		<div class="form-group">
			<%= f.text_field :email, value: params[:email], label: "E-mail Address" %>
	    	<%= f.password_field :password, value: params[:password] %>
	  	</div>
		<%= submit_tag "Logg Me In!", class: "btn btn-success" %>
		<%= link_to "Forgot Password?", forgot_password_path, class: "btn btn-danger" %>
	<% end %>
<p id="notice"><%= notice %></p>
</body>