<%= simple_form_for([@participant,@note]) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.input :note_text, as:"text", label: false, input_html: { class: 'sticky_editor'} %><br/>
      <%= f.check_box :isDone, data: { toggle: 'toggle', on: 'Done', onstyle: 'primary', off: 'Not Done', offstyle: 'default', width: '90'} %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.check_box :notify, data: { toggle: 'toggle', on: 'Notify On', onstyle: 'primary', off: 'Notify Off', offstyle: 'default', width: '100'}, label: '' %><br />
      <%= f.input :notify_on, as:"datetime_picker", label: false, class: "input-large"  %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.check_box :important, data: { toggle: 'toggle', on: 'Important', onstyle: 'danger', off: 'Not Important', offstyle: 'default', width: '120'}, label: '' %>&nbsp;
    </div>
  </div>

  <div class="row">
    <div class="actions col-xs-6" align="center">
      <%= f.submit "Save Note", class:"btn btn-primary" %>
      <%= link_to 'Back', :back, class:"btn btn-warning" %>
    </div>
  </div>
<% end %>
