<%= form_for([@participant,@note]) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note_text %>
    <%= f.text_area :note_text %>
  </div>

  <div class="field">
    <%= f.label :important %>
    <%= f.check_box :important %>
  </div>

    <div class="field">
    <%= f.label :notify %>
    <%= f.check_box :notify %>
  </div>

  <div class="field" id="notify_on_div">
    <%= f.label :notify_on %>
    <!--<%= f.datetime_select :notify_on, default: 1.week.from_now, start_year: Date.today.year, include_blank: true %> -->
    <%= f.datetime_select :notify_on, default: 1.week.from_now, start_year: Date.today.year %>
    <!--<div id="notify_on_datetime">
      <%= f.text_field :notify_on %>&nbsp;<input type="button" value="Pick Date" id="notify_on_datetime_button">
    </div> -->
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
