<p id="notice"><%= notice %></p>

<h1>Showing All Notes for Participant (<%=@participant.name%>)</h1>
<%= link_to 'Home', user_home_path(@user) %>&nbsp;|&nbsp;
<%= link_to 'New Note', new_participant_note_path(@participant) %>&nbsp;|&nbsp;
<%= link_to 'Back to ' + @participant.name + '\'s page', participant_path(@participant) %></br>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Last Modified</th>
      <th>Note text</th>
      <th>Important</th>
      <th>User</th>
      <th>Notify on</th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @all_participant_notes.each do |note| %>
      <tr>
        <td><%= time_ago_in_words(note.updated_at)%> ago</td>
        <td><%= note.note_text %></td>
        <td><%= note.important %></td>
        <td><%= link_to note.user.full_name, note.user %></td>
        <td><%= note.notify_on %></td>
        <td><%= link_to 'Edit', edit_participant_note_path(note.participant_id,note.id) %></td>
        <td><%= link_to 'Destroy', participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@all_participant_notes) %>
<br>
