<p id="notice"><%= notice %></p>

<h1>Showing All Notes for Participant (<%=@participant.name%>)</h1>
<%= link_to 'Home', user_home_path(@user) %>&nbsp;|&nbsp;
<%= link_to 'New Note', new_participant_note_path(@participant) %>&nbsp;|&nbsp;
<%= link_to 'Back to ' + @participant.name + '\'s page', participant_path(@participant) %></br>
<ul class="post_it_note">
  <% @all_participant_notes.each do |note| %>
  <li class="post_it_note">
    <a href="<%= edit_participant_note_path(note.participant_id,note.id)%>" class="post_it_note" %>
      <h2 class="post_it_note"><%= note.updated_at.strftime('%D %r')%></h2>
      <p class="post_it_note">
        "<%= truncate(note.note_text) %>"
        <br>Important: <%= note.important %>
        <% if note.notify? %>
          <br/>Notify On: <%= note.notify_on.strftime('%D %r') %>
        <% end %>
        <br/>
      </p>
    </a>
  </li>
  <% end %>
</ul>
<%= will_paginate(@all_participant_notes) %>

<!-- <table class='table table-striped'>
  <thead>
    <tr>
      <th>Last Modified</th>
      <th>Note text</th>
      <th>Important</th>
      <th>User</th>
      <th>Notify on</th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @all_participant_notes.each do |note| %>
      <tr>
        <td><%= time_ago_in_words(note.updated_at)%> ago</td>
        <td><%= note.note_text %></td>
        <td><%= note.important %></td>
        <td><%= link_to note.user.full_name, note.user if note.user %></td>
        <% if note.notify? %>
          <td><%= note.notify_on %></td>
        <% else %>
          <td>Notification Off</td>
        <% end %>

        <% if @current_user.isAdmin? || (@current_user.id == note.user.id) %>
          <td><%= link_to 'Edit', edit_participant_note_path(note.participant_id,note.id) %></td>
          <td><%= link_to 'Destroy', participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@all_participant_notes) %> -->
<br>
