<h1>Showing All Notes for Participant (<%=@participant.name%>)</h1>
<p id="notice"><%= notice %></p>
<% unless all_participant_notes.nil? || all_participant_notes.empty? %>
  <p>
    <%= link_to 'Logg New Note', new_participant_note_path(@participant), class:"btn btn-primary" %> 
    <%= link_to "Export Notes to CSV", participant_notes_path(format: "csv"), class:"btn btn-info" %> 
    <%= link_to "Back to " + @participant.name + "'s page", participant_path(@participant), class:"btn btn-danger" %>
  </p>
  <ul class="post_it_note">
    <p class="post_it_note_legend">
      <br/><%= image_tag('misc/pin_important.png', size: '50') %> Important &nbsp;&nbsp;&nbsp;&nbsp;
           <%= image_tag('misc/pin_not_important.png', size: '50') %>
    </p>
    <% @all_participant_notes.each do |note| %>
    <% if note.important? %>
      <li class="post_it_note post_it_note_important">
    <% else %>
      <li class="post_it_note post_it_note_unimportant">
    <% end %>
        <a href="<%= edit_participant_note_path(note.participant_id,note.id)%>" class="post_it_note" %>
          <% if note.notify? %>
            <h2 class="post_it_note">
              <%= image_tag('misc/notify.png', size: '25') %> <%= note.notify_on.strftime('%D %r') %>
            </h2>
          <% end %>
          <p class="post_it_note">
            "<%= truncate(note.note_text) %>"
          </p>
          <p class="post_it_note_footer">
            <%= image_tag('icons2/png/pencil.png', size: '25') %> <%= note.updated_at.strftime('%D %r')%><br/>
            <%= note.user.full_name unless (note.user.nil? || (note.user.id == @current_user.id)) %><br/>
            <%= note.user.team.name unless (note.user.nil? || (note.user.id == @current_user.id)) %>
          </p>
        </a>
    </li>
    <% end %>
  </ul>
  <%= will_paginate(@all_participant_notes) %>
<% end %>
<p>
  <%= link_to 'Logg New Note', new_participant_note_path(@participant), class:"btn btn-primary" %> 
  <%= link_to "Export to CSV", participant_notes_path(format: "csv"), class:"btn btn-info" %> 
    <%= link_to "Back to " + @participant.name + "'s page", participant_path(@participant), class:"btn btn-danger" %>
</p>
<table class='table table-striped sortable'>
  <thead>
    <tr>
      <th>Last Modified</th>
      <th data-defaultsort='disabled'>Note text</th>
      <th>Important</th>
      <th>User</th>
      <th>Notify on</th>
      <th colspan="2" data-defaultsort='disabled'>Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @all_participant_notes.each do |note| %>
      <tr>
        <td><%= time_ago_in_words(note.updated_at)%> ago</td>
        <td><%= note.note_text %></td>
        <td><%= note.important %></td>
        <td><%= link_to note.user.full_name, note.user if note.user %></td>
        <% if note.notify? %>
          <td><%= note.notify_on %></td>
        <% else %>
          <td>Notification Off</td>
        <% end %>

        <% if @current_user.isAdmin? || (@current_user.id == note.user.id) %>
          <td><%= link_to 'Edit', edit_participant_note_path(note.participant_id,note.id) %></td>
          <td><%= link_to 'Destroy', participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@all_participant_notes) %>
<br>
