<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Note text</th>
      <th>Important</th>
      <th>User</th>
      <th>Notify on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recent_notes.each do |note| %>
      <tr>
        <td><%= note.participant_id %></td>
        <td><%= note.note_text %></td>
        <td><%= note.important %></td>
        <td><%= note.user_id %></td>
        <td><%= note.notify_on %></td>
        <td><%= link_to 'Edit', edit_participant_note_path(note.participant_id,note.id) %></td>
        <td><%= link_to 'Destroy', participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_participant_note_path %>
