<p id="notice"><%= notice %></p>

<h2>Note for <%= link_to @note.participant.name, participant_path(@note.participant) %></h2>

<p>
  "<%= @note.note_text %>"
</p>

<p>by: 
  <%= link_to @note.user.full_name + ' (' +@note.user.email + ')', @note.user%>
</p>

<p>
  <strong>Important:</strong>
  <%= @note.important %>
</p>

<% if @note.notify? %>
	<p>Notification: <%= @note.notify_on %></p>
<% end %>

<% if @note.isDone? %>
  <p>Ticked off on: <%= @note.doneOn %> by <%= @note.doneBy %></p>
<% end %>


<%= link_to 'Edit', edit_participant_note_path(@participant,@note), class:"btn btn-danger" %> |
<%= link_to 'Back', participant_notes_path(@participant), class:"btn btn-danger"  %>
