<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @note.participant.name %>
</p>

<p>
  "<%= @note.note_text %>"
</p>

<p>
  <strong>Important:</strong>
  <%= @note.important %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @note.user.full_name + ' (' +@note.user.email + ')', @note.user%>
</p>

<% if @note.notify? %>
	<p>
	  <strong>Notify on:</strong>
	  <%= @note.notify_on %>
	</p>
<% end %>


<%= link_to 'Edit', edit_participant_note_path(@participant,@note) %> |
<%= link_to 'Back', participant_notes_path(@participant) %>
