<%= bootstrap_form_for(participant, label_errors: true) do |f| %>
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="form-inline">
      <div class="form-group col-xs-4">
        <%= f.collection_select(:study_id, @current_studies, :id, :study_name, label: "Study") %>
      </div>
      <div class="form-group">
        <%= f.label 'Status' %>
        <%= f.check_box :active, data: { toggle: 'toggle', on: 'Active', onstyle: 'info', off: 'Inactive', offstyle: 'danger', width: '100'}, label: '' %>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.text_field :name %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.text_field :email, label: "E-mail Address" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-2">
      <%= f.select :gender, Participant.genders.keys.to_a, label: "Gender" %>
    </div>
    <div class="form-group col-xs-2">
      <%= f.text_field :date_of_birth, label: "Birth Date", data: { provide: 'datepicker'} %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.text_field :contact_number, label: "Contact Number" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-8">
      <%= f.text_area :home_address, label: "Home Address" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-success" %>
    <%= link_to 'Cancel', :back, class: "btn btn-warning" %>
  </div>
<% end %>
