<%= bootstrap_form_for(participant, label_errors: true) do |f| %>
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="form-inline">
      <div class="form-group col-xs-4">
        <%= f.collection_select(:study_id, @current_studies, :id, :study_name, label: "Study") %>
      </div>
      <div class="form-group col-xs-2">
        <%= f.text_field :participants_blinders_id, label: "Blinders ID" %>
      </div>
      <div class="form-group col-xs-2">
        <%= f.select :status, Participant.statuses.keys.to_a, label: "Status" %>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.text_field :title, label: "Title" %> <%= f.text_field :surname, label: "Surname" %> <%= f.text_field :first_name, label: "First Name" %> <%= f.text_field :preferred_name, label: "Preferred Name" %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.text_field :email, label: "E-mail Address" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-2">
      <%= f.select :gender, Participant.genders.keys.to_a, label: "Gender" %>
    </div>
    <div class="form-group col-xs-2">
      <%= f.text_field :date_of_birth, label: "Birth Date", data: { provide: 'datepicker'} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.text_field :primary_contact_number, label: "Primary Contact Number" %>
    </div>
    <div class="form-group col-xs-2">
      <%= f.select :primary_contact_number_type, Participant.primary_contact_number_types.keys.to_a, label: "Type" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.text_field :secondary_contact_number, label: "Secondary Contact Number" %>
    </div>
    <div class="form-group col-xs-2">
      <%= f.select :secondary_contact_number_type, Participant.secondary_contact_number_types.keys.to_a, label: "Type" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label 'Home' %>
      <%= f.text_field :home_address_line_1, label: 'Address Line 1' %>
      <%= f.text_field :home_address_line_2, label: 'Address Line 2' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-2"><%= f.text_field :home_address_suburb, label: 'Suburb' %></div>
    <div class="form-group col-xs-2"><%= f.text_field :home_address_state, label: 'State' %></div>
    <div class="form-group col-xs-2"><%= f.text_field :home_address_postcode, label: 'Post Code' %></div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label 'Mailing' %>
      <%= f.text_field :mailing_address_line_1, label: 'Address Line 1' %>
      <%= f.text_field :mailing_address_line_2, label: 'Address Line 2' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-2"><%= f.text_field :mailing_address_suburb, label: 'Suburb' %></div>
    <div class="form-group col-xs-2"><%= f.text_field :mailing_address_state, label: 'State' %></div>
    <div class="form-group col-xs-2"><%= f.text_field :mailing_address_postcode, label: 'Post Code' %></div>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-success" %>
    <%= link_to 'Cancel', :back, class: "btn btn-warning" %>
  </div>
<% end %>
