<h1>All Participants</h1>
<p id="notice"><%= notice %></p>
<% unless @participants.nil? || @participants.empty? %>
  <p>
    <%= link_to 'Register New Participant', new_participant_path, class:"btn btn-warning" %> 
    <%= link_to "Export to CSV", participants_path(format: "csv"), class: 'btn btn-info' %>
  </p>
  <table class='table table-striped sortable'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Surname</th>
        <th>First Name</th>
        <th>Preferred Name</th>
        <th>Gender</th>
        <th>Primary Contact Number</th>
        <th>Secondary Contact Number</th>
        <th data-defaultsort='disabled'>State</th>
        <th>Post Code</th>
        <th>Status</th>
        <th>Study</th>
        <th>Birthdate</th>
        <th>E-mail Address</th>
        <% if @current_user.isAdmin? %>
          <th colspan="2" data-defaultsort='disabled'></th>
        <% else %>
          <th data-defaultsort='disabled'></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.title %></td>
          <td><%= link_to participant.surname, participant %></td>
          <td><%= link_to participant.first_name, participant %></td>
          <td><%= participant.preferred_name, participant %></td>
          <td><%= participant.gender %></td>
          <td><%= participant.primary_contact_number %></td>
          <td><%= participant.secondary_contact_number %></td>
          <td><%=participant.home_address_state %></td>
          <td><%=participant.home_address_postcode %></td>
          <td><%=participant.status %></td>
          <td><%= participant.study.study_name %></td>
          <td><%= participant.date_of_birth %></td>
          <td><%= participant.email %></td>
          <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
          <% if @current_user.isAdmin %>
            <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate(@participants) %>
<% end %>
<p>
  <%= link_to 'Register New Participant', new_participant_path, class:"btn btn-warning" %> 
  <%= link_to "Export to CSV", participants_path(format: "csv"), class: 'btn btn-info' %>
</p>