<h2 align="right"> Logged in as: d.go </h2>
<h1><%= @this_participant.name %> </h1>
<p><%= link_to "Edit Participant Details" %></p>
<h3>Gender: <%= @this_participant.gender %> Contact Number: <%=@this_participant.contact_number%>
<br>Home Address: <%=@this_participant.home_address%>
<br>Date of Birth (Age): <%=@this_participant.date_of_birth.strftime('%v')%> (<%=Time.now.year - @this_participant.date_of_birth.year%>)
<br>Study: <%=@this_participant.study_id%> Email: <%=@this_participant.email%></h3>

<p><%= link_to "Create New Note", new_note_path%></p>

<ul>
  <% @this_participants_notes.order("notes.updated_at DESC").each do |n| %>
  <li>"<%= n.note_text %>"
    <br>Important: <%= n.important %>
    <br>Notify On: <%= n.notify_on %>
    <br>Created: <%= n.created_at %>
    <br>Last Modified: <%= n.updated_at %>
    <br><%= link_to "Edit"%> <%= link_to "Delete"%>
  </li>
  <br>
  <% end %>
</ul>

<p><%= link_to "Back To All Participants", participants_path %></p>
