<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @participant.contact_number %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @participant.home_address %>
</p>

<p>
  <strong>Active:</strong>
  <%= @participant.active %>
</p>

<p>
  <strong>Study:</strong>
  <%= @participant.study_id %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @participant.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
