<p id="notice"><%= notice %></p>
<p align="center">
  <div class="toppad container-fluid ">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @participant.title %> <%= @participant.first_name %> <%= @participant.surname %> [<%= @participant.status %>]</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3" align="center">
            <%= image_tag("https://www.barfoot.co.nz/images/noprofile-big.png", class:"img-circle img-responsive", title:"You look so cute on this one.", size:"150x150") %><br/>
            <%= link_to "Edit Profile", edit_participant_path(@participant), class:"btn btn-danger" %>
          </div>
          <div class="col-md-9 col-lg-9"> 
            <table class="table table-user-information table-striped">
              <tbody>
                <% if @participant.study.present? %>
                  <tr>
                    <td class="attribute_data">Study</td>
                    <td><%= link_to @participant.study.study_name, @participant.study %></td>
                  </tr>
                <% end %>
                <% if @participant.date_of_birth.present? %>
                  <tr>
                    <td class="attribute_data">Age</td>
                    <td><%=(Date.today.year - @participant.date_of_birth.year).to_s %></td>
                  </tr>
                <% end %>
                <% if @participant.primary_contact_number.present? %>
                  <tr>
                    <td class="attribute_data">Primary Contact Number</td>
                    <td><%= @participant.primary_contact_number %> (<%= @participant.primary_contact_number_type %>)</td>
                  </tr>
                <% end %>
                <% if @participant.secondary_contact_number.present? %>
                  <tr>
                    <td class="attribute_data">Secondary Contact Number</td>
                    <td><%= @participant.secondary_contact_number %> (<%= @participant.secondary_contact_number_type %>)</td>
                  </tr>
                <% end %>
                <% if @participant.home_address_line_1.present? %>
                  <tr>
                    <td class="attribute_data">Home Address</td>
                    <td><%= @participant.home_address_line_1 %> <%= @participant.home_address_line_2 %>, <%= @participant.home_address_suburb %>, <%= @participant.home_address_state %>, <%= @participant.home_address_postcode %></td>
                  </tr>
                <% end %>
                <% if @participant.mailing_address_line_1.present? %>
                  <tr>
                    <td class="attribute_data">Mailing Address</td>
                    <td><%= @participant.mailing_address_line_1 %> <%= @participant.mailing_address_line_2 %>, <%= @participant.mailing_address_suburb %>, <%= @participant.mailing_address_state %>, <%= @participant.mailing_address_postcode %></td>
                  </tr>
                <% end %>
                <% if @participant.gender.present? %>
                  <tr>
                    <td class="attribute_data">Gender</td>
                    <td><%= @participant.gender %></td>
                  </tr>
                <% end %>
                <% if @participant.email.present? %>
                  <tr >
                    <td class="attribute_data">Email</td>
                    <td><%= @participant.email %></td>
                  </tr>
                <% end %>
                <% if @participant.last_contacted_by.present? %>
                  <tr >
                    <td class="attribute_data">Last Contact</td>
                    <td>
                      <%= link_to @last_contacted_by_name, user_path(@participant.last_contacted_by) %> 
                      <%= time_ago_in_words(@participant.last_contacted_at) %> ago.
                    </td>
                  </tr>
                <% end %>
                <tr class="container-fluid">
                  <td class="attribute_data">Joined</td>
                  <td><%= @participant.registeredOn if @participant.registeredOn.present? %><%= (" by user " + User.find(@participant.registeredBy)) if @participant.registeredBy.present? %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</p>
<p align="center">
  <%= link_to 'Back to All Participants', participants_path, class:"btn btn-success" if @current_user.isAdmin? %> 
  <%= link_to 'Logg New Note for ' +  + @participant.first_name, new_participant_note_path(@participant), class:"btn btn-warning" %> 
  <%= link_to "Show all of " + @participant.first_name + "'s Notes", participant_notes_path(@participant), class:"btn btn-primary" %>
  <%= link_to "Export Notes to CSV", participant_notes_path(@participant, format: "csv"), class:"btn btn-info" %> 
</p>
<% unless (@participant_recent_notes.nil? || @participant_recent_notes.empty?) %>
  <p>
  <ul class="post_it_note">
    <% @participant_recent_notes.each do |note| %>
    <li class="post_it_note">
      <a href="<%= edit_participant_note_path(note.participant_id,note.id)%>" class="post_it_note" %>
        <h2 class="post_it_note"><%= note.updated_at.strftime('%D %r')%></h2>
        <p class="post_it_note">
          "<%= truncate(note.note_text) %>"
          <br>Important: <%= note.important %>
          <% if note.notify? %>
            <br/>Notify On: <%= note.notify_on.strftime('%D %r') %>
          <% end %>
          <br/>
        </p>
      </a>
    </li>
    <% end %>
  </ul>
  <%= will_paginate(@participant_recent_notes) %>
  </p>
  <p align="center">
    <%= link_to 'Back to All Participants', participants_path, class:"btn btn-success" if @current_user.isAdmin? %> 
    <%= link_to 'Logg New Note for ' +  + @participant.first_name, new_participant_note_path(@participant), class:"btn btn-warning" %> 
    <%= link_to "Show all of " + @participant.first_name + "'s Notes", participant_notes_path(@participant), class:"btn btn-primary" %>
    <%= link_to "Export Notes to CSV", participant_notes_path(@participant, format: "csv"), class:"btn btn-info" %> 
  </p>
<% end %>
