<p id="notice"><%= notice %></p>

<h2>
  <%= @participant.name %>
</h2>
<p>
<%= link_to 'Edit Profile', edit_participant_path(@participant) %> |
<%= link_to 'Back to All Participants', participants_path %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
<br/>
  <strong>Contact Number:</strong>
  <%= @participant.contact_number %>
<br/>
  <strong>Home Address:</strong>
  <%= @participant.home_address %>
<br/>
  <strong>Active:</strong>
  <%= @participant.active %>
<br/>
  <strong>Study:</strong>
  <%= link_to @participant.study.study_name, @participant.study %>
<br/>
  <strong>Date of Birth:</strong>
  <%= @participant.date_of_birth %>
<br/>
  <strong>Email Address:</strong>
  <%= @participant.email %>
</p>
<p><%= link_to "Create New Note", new_participant_note_path(@participant)%></p>
<p><%= link_to "Show All Notes", participant_notes_path(@participant)%></p>
<p>
<ul>
  <% @recent_notes.each do |note| %>
  <li>"<%= note.note_text %>"
    <br>Important: <%= note.important %>
    <br>Notify On: <%= note.notify_on %>
    <br>Created: <%= note.created_at.inspect %>
    <br>Last Modified: <%= note.updated_at.inspect %>
    <br><%= link_to "Edit", edit_participant_note_path(note.participant_id,note.id)%> <%= link_to "Delete", participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <br>
  <% end %>
</ul>
