<p id="notice"><%= notice %></p>

<h2>
  <%= @participant.name %>
</h2>
<p>
<%= link_to 'Edit Participant Profile', edit_participant_path(@participant) %>
<% if @current_user.isAdmin %>
  &nbsp;|&nbsp;<%= link_to 'Back to All Participants', participants_path %>
<% end %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
<br/>
  <strong>Contact Number:</strong>
  <%= @participant.contact_number %>
<br/>
  <strong>Home Address:</strong>
  <%= @participant.home_address %>
<br/>
  <strong>Active:</strong>
  <%= @participant.active %>
<br/>
  <strong>Study:</strong>
  <%= link_to @participant.study.study_name, @participant.study %>
<br/>
  <strong>Date of Birth:</strong>
  <%= @participant.date_of_birth %>
<br/>
  <strong>Email Address:</strong>
  <%= @participant.email %>
<br/>
  <strong>Last Contacted by </strong>
  <% if @participant.last_contacted_by.nil? %>
    None
  <% else %>
    <%= link_to @last_contacted_by_name, user_path(@participant.last_contacted_by) %>
    &nbsp;
    <%= time_ago_in_words(@participant.last_contacted_at) %>
    &nbsp;ago.
   <% end %>
</p>
<p><%= link_to "Create New Note", new_participant_note_path(@participant)%></p>
<p><%= link_to "Show All Notes", participant_notes_path(@participant)%></p>
<p>
<ul class="post_it_note">
  <% @participant_recent_notes.each do |note| %>
  <li class="post_it_note">
    <a href="#" class="post_it_note">
      <p class="post_it_note">
      <%= note.updated_at.strftime('%D %r')%>
      
        "<%= note.note_text %>"
        <br>Important: <%= note.important %>
        <% if note.notify? %>
          <br>Notify On: <%= note.notify_on %>
        <% end %>
        <br><%= link_to "Edit", edit_participant_note_path(note.participant_id,note.id)%> <% if @current_user.isAdmin %><%= link_to "Delete", participant_note_path(note.participant_id,note.id), method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
      </p>
    </a>
  </li>
  <br>
  <% end %>
</ul>
<%= will_paginate(@participant_recent_notes) %>
