<p id="notice"><%= notice %></p>

<h2>
  <%= @participant.name %>
</h2>

<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
<br/>
  <strong>Contact Number:</strong>
  <%= @participant.contact_number %>
<br/>
  <strong>Home Address:</strong>
  <%= @participant.home_address %>
<br/>
  <strong>Active:</strong>
  <%= @participant.active %>
<br/>
  <strong>Study:</strong>
  <%= @participant.study_id %>
<br/>
  <strong>Date of Birth:</strong>
  <%= @participant.date_of_birth %>
<br/>
  <strong>Email Address:</strong>
  <%= @participant.email %>
</p>
<p><%= link_to "Create New Note", new_participant_note_path(@participant)%></p>
<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
