<%= bootstrap_form_tag url: forgot_password_path do |f| %>
	<% if @errors.any? %>
    	<div class="alert alert-danger">
      		<% @errors.each do |message| %>
        	<li class="error"><%= message %></li>
      		<% end %>
    	</div>
  	<% end %>
  	<p id="notice"><%= notice %></p>

 	<div class="form-group">
 		<%= f.text_field_tag :email, label: "Enter your E-mail Address: ", :required => true %>
  	</div>
  	<div class="actions"><br/>
    	<%= f.submit "Reset Password", class: "btn btn-warning" %>
  	</div>
<% end %>