<%= bootstrap_form_for(user, label_errors: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
    </div>  
  <% end %>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.collection_select(:team_id, Team.all, :id, :name, prompt: "Select Team...", label: "Team") %> 
      <span class="help-block">Team not on the list? <%= link_to "Add New Team!", new_team_path %></span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-3">
      <%= f.text_field :full_name, label: "Name" %>
    </div>
    <div class="form-group col-xs-3">
      <%= f.text_field :contact_number %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.text_field :email, label: "E-mail Address", placeholder: "user@neura.edu.au", icon: "email" %>
      <span class="help-block">This will also be your Loggr ID. It is advisable to use your NeuRA E-mail address if you are from NeuRA </span>
    </div>
  </div>

  <% if @current_user.nil? # New user only %>
    <div class="row">
      <div class="form-group col-xs-3">
        <%= f.password_field :password %>
      </div>
      <div class="form-group col-xs-3">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.collection_select(:supervisor_id, User.where(isSupervisor: true, isActive: true, isApproved: true, isDenied: false), :id, :full_name, include_blank: "Select from these registered users", label: "Supervisor") %> 
      <span class="help-block">Not on the list? If supervisor is not a user of this system, type the name on the blank text box.</span>
      <%= f.text_field :supervisorNameNotAUser, hide_label: true %>
    </div>
  </div>

  <div class="row">
    <% if @current_user.nil? # New user only %>
      <% if user.isBlinded.nil? # If field is still nil assumed to be new and not edit %>
        <!-- Set Blinded User at signup -->
        <div class="form-group col-xs-6">
          <%= f.label 'Blinded User?' %>
          <%= f.check_box :isBlinded, data: { toggle: 'toggle', on: 'Blinded', onstyle: 'info', off: 'Nope', offstyle: 'default', width: '100'}, label: '' %>
          <%= f.label 'Do you want to add yourself to the supervisor list?' %>
          <%= f.check_box :isSupervisor, data: { toggle: 'toggle', on: 'Supervisor', onstyle: 'info', off: 'Peasant', offstyle: 'default', width: '100'}, label: '' %>
        </div>
      <% end %>
    <% else %>
      <% if @current_user.isAdmin? # Otherwise toggle only if admin is currently logged in. %>
        <div class="form-group col-xs-6">
          <table>
            <tr>
              <!-- Admin User? -->
              <td align="center">User Type: Admin or Regular User?<br/>
              <%= f.check_box :isAdmin, data: { toggle: 'toggle', on: 'Admin', onstyle: 'primary', off: 'Peasant', offstyle: 'default', width: '80'}, label: '' %></td>

              <!-- Active User? -->
              <td align="center">Is This User Active?<br/>
              <%= f.check_box :isActive, data: { toggle: 'toggle', on: 'Active', onstyle: 'success', off: 'Disabled', offstyle: 'warning', width: '80'}, label: '' %></td>
            </tr>

            <tr>
              <!-- Approved User? -->
              <td align="center">Approve Access?<br/>
              <%= f.check_box :isApproved, data: { toggle: 'toggle', on: 'Access Granted', onstyle: 'success', off: 'Access Revoked', offstyle: 'warning', width: '150'}, label: '' %></td>

              <!-- Denied User? -->
              <td align="center">Reject Access?<br/>
              <%= f.check_box :isDenied, data: { toggle: 'toggle', on: 'Access Rejected', onstyle: 'danger', off: 'Access Granted', offstyle: 'default', width: '150'}, label: '' %></td>
            </tr>

            <tr>
              <!-- Blinded User? -->
              <td align="center" colspan="2">Blinded User?<br/>
              <%= f.check_box :isBlinded, data: { toggle: 'toggle', on: 'Blinded', onstyle: 'info', off: 'Nope', offstyle: 'default', width: '100'}, label: '' %></td>
            </tr>
          </table>
        </div>
      <% else %>
        <%= f.hidden_field :isSupervisor, default: false %>
      <% end %>
    <% end %>
  </div>

  <div class="actions form-group col-xs-4">
    <%= f.submit "Save Changes",  class: "btn btn-success" %> 
    <%= link_to 'Back', :back, class: "btn btn-warning"  %>
  </div>

<% end %>