<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p id="notice"><%= notice %></p>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, value: user.password %>
  </div>

  <div class="field">
    <%= f.label "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :contact_number %>
    <%= f.text_field :contact_number %>
  </div>

  <div class="field">
      <%= f.label "Team" %>
      <%= f.collection_select(:team_id, Team.all, :id, :name, prompt: true) %> 
      Team Not There? <%= link_to "Add New Team", new_team_path %>
  </div>

  <div class="field">
    <%= f.label "Supervisor" %>
    <%= f.collection_select(:supervisor_id, User.where(isSupervisor: true, isActive: true, isApproved: true, isDenied: false), :id, :full_name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label "Supervisor Name (if not on list)" %>
    <%= f.text_field :supervisorNameNotAUser %>
  </div>

  <div class="field">
    <%= f.label "Add your name to the supervisors list?" %>
    <%= f.check_box :isSupervisor %> 
  </div>

  <% unless @current_user.nil? %>
    <% if @current_user.isAdmin %>
      <div class="field">
        <%= f.label "Grant this user admin rights?" %>
        <%= f.check_box :isAdmin %>
      </div>
      <div class="field">
        <%= f.label "Is this user still active?" %>
        <%= f.check_box :isActive %>
      </div>
      <div class="field">
        <%= f.label "Approve user?" %>
        <%= f.check_box :isApproved %>
      </div>
      <div class="field">
        <%= f.label "Deny user?" %>
        <%= f.check_box :isDenied %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
