<%= bootstrap_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p id="notice"><%= notice %></p>
  <div class="form-group">
      Team (Not There? <%= link_to "Add New Team", new_team_path %>)<br/>
      <%= f.collection_select(:team_id, Team.all, :id, :name, prompt: true, hide_label: true) %> 
  </div>

  <div class="form-group">
    <%= f.text_field :email, label: "E-mail Address", icon: "email" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <%= f.text_field :full_name, label: "Name" %>
  </div>

  <div class="form-group">
    <%= f.text_field :contact_number %>
  </div>

  <div class="form-group input-group form-inline">
    Supervisor (if not on the list, type the name on the text field)<br/>
    <%= f.collection_select(:supervisor_id, User.where(isSupervisor: true, isActive: true, isApproved: true, isDenied: false), :id, :full_name, include_blank: "Select from these registered users", 
    hide_label: true) %>&nbsp;
    <%= f.text_field :supervisorNameNotAUser, hide_label: true %>
  </div>

  <!-- DFG: Beautify Experiment http://bootsnipp.com/snippets/featured/beautify-checkboxes-amp-radio-input-group-addons
  <div class="input-group">
    <span class="input-group-addon beautiful">
      <input type="checkbox">
    </span>
  </div>
  -->

  <!-- <div class="input-group">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">@example.com</span>
  </div> -->
  <% if @current_user.nil? # New user only %>
    <% if user.isBlinded.nil? # If field is still nil assumed to be new and not edit %>
      <div class="form-group form-inline">
        Blinded? 
        <div class="input-group col-sm-1 input-group-addon beautiful">
          <input id="isBlinded" name="user[isBlinded]" type="checkbox">
        </div>
      </div>
    <% end %>
  <% else %>
    <% if @current_user.isAdmin? # Otherwise toggle only if admin is currently logged in. %>
      <div class="form-group">
        <%= f.check_box :isBlinded, value: user.isBlinded, label: "Blinded User?" %> 
      </div>
      <div class="form-group">
        <%= f.check_box :isAdmin, value: user.isAdmin, label: "Grant this user admin rights?" %>
      </div>
      <div class="form-group">
        <%= f.check_box :isActive, value: user.isActive, label: "Is this user still active?" %>
      </div>
      <div class="form-group">
        <%= f.check_box :isApproved, value: user.isApproved, label: "Approve user?"  %>
      </div>
      <div class="form-group">
        <%= f.check_box :isDenied, value: user.isDenied, label: "Deny user?" %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>