<%= form_tag forgot_password_path do %>
	<% if @errors.any? %>
		<% @errors.each do |message| %>
			<li class="error"><%= message %></li>
		<% end %>  
	<% end %>

  <div class="form-group">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, params[:email], :required => true %>
  </div>
  <div class="actions"><br/>
    <%= submit_tag "Reset Password"%>
  </div>
  <p id="notice"><%= notice %></p>

<% end %>