<%= form_tag reset_password_path do %>
  	<% if @errors.any? %>
		<% @errors.each do |message| %>
			<li class="error"><%= message %></li>
		<% end %>  
	<% end %>
  <%= hidden_field_tag :email, params[:email] %>
  <%= hidden_field_tag :token, params[:token] %>
  <div class="form-group">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, params[:password], :required => true %>
  </div>
  <div class="form-group">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation, params[:password_confirmation], :required => true %>
  </div>
  <div class="actions"><br/>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>
