<p id="notice"><%= notice %></p>
<%= link_to 'Add New Study', new_study_path %>&nbsp;&nbsp;&nbsp;<%= link_to 'View Existing Studies', studies_path %>
<p>
<br/><strong>User Type: </strong><%= @user.level %>
<br/><strong>Email: </strong><%= @user.email %>
<br/><strong>Contact number: </strong><%= @user.contact_number %>
<br/><strong>Team: </strong><%= (@user.team_id.nil?)? ' No Team Assigned' : @user.team.name %>
<br/><strong>Supervisor: </strong><%= (@user.supervisor_id.nil?)? ' No Supervisor Assigned' : @user.supervisor.full_name  %>
<br/></p>
<br/><%= link_to 'Register New Participant', new_participant_path %>&nbsp;|&nbsp;<%= link_to 'Back to All Participants', participants_path %>
<br/><%= link_to 'Edit My Details', edit_user_path(@user) %>&nbsp;|&nbsp;<%= link_to 'Back to All Users (Admin)', users_path %>
<p>
<%= form_tag(user_home_path(@user.id), method: "get") do %>
  Find Participant by Name: <%= text_field_tag(:search) %>
  <br/><br/>Show: <%= select(:filter_participants, :filter_participants_string, options_for_select(['All Participants','Only Participants I\'ve Contacted'])) %>
  <br/><br/><%= submit_tag("Find") %>&nbsp;
  <%= link_to 'Reset', user_home_path(@user) %>
<% end %>
</p>


<h2><%=@search_or_recent_header %></h2>
<% unless @search_participants.empty? %>
<table>
   <thead>
       <tr>
         <th>Last Contact Date</th>
         <th>Participant</th>
         <th>Contact Number</th>
         <th>Email Address</th>
         <th>Study</th>
         <th>Status</th>
         <th colspan="3"></th>
       </tr>
  </thead> 
   <tbody>
      <% @search_participants.each do |participant| %>
       <tr>
         <td><% unless participant.last_contacted_at.nil? %> <%=time_ago_in_words(participant.last_contacted_at)%> ago <% end %></td>
         <td><%= link_to participant.name, participant %></td>
         <td><%= link_to participant.contact_number %></td>
         <td><%= link_to participant.email %></td>
         <td><%= participant.study.study_name %></td>
         <td><%= ((participant.active)? ('Active'):('Dropped Out')) %></td>
         <td><%= link_to 'Show', participant %></td>
         <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
         <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
      <% end %>
   </tbody>
</table>
<%=will_paginate(@search_participants, :param_name => 'search_participants_page') %>
<% end %>

<h2><%=@upcoming_notes_notification_header %></h2>
<% unless @upcoming_notes_notification.empty? %>
 <table>
  <thead>
     <tr>
      <th>&nbsp;</th>
      <th>Participant</th>
      <th colspan="2">Notification Date</th>
     </tr>
  </thead> 
  <tbody>
    <% @upcoming_notes_notification.each do |note| %>
    <tr>
      <td><%= link_to "See Note.", participant_note_path(note.participant.id,note.id)%></td>
      <td><%= link_to note.participant.name, note.participant %>
      <td><%= link_to "Snooze", edit_participant_note_path(note.participant.id,note.id) %></td>
      <td><%=note.notify_on.inspect%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%=will_paginate(@upcoming_notes_notification, :param_name => 'upcoming_notes_notification_page') %>

 <h2><%=@recent_notes_from_user_header%></h2>
 <% unless @recent_notes_from_user.empty? %>
 <table>
    <thead>
       <tr>
        <th>&nbsp;</th>
        <th>Participant</th>
        <th>Last Modified</th>
       </tr>
    </thead> 
    <tbody>
      <% @recent_notes_from_user.each do |note| %>
      <tr>
        <td><%= link_to "See Note.", participant_note_path(note.participant.id,note.id)%></td>
        <td><%= link_to note.participant.name, note.participant %>
        <td><%= time_ago_in_words(note.updated_at)%> ago</td>
      </tr>
      <% end %>
    </tbody>
 </table>
<%=will_paginate(@recent_notes_from_user, :param_name => 'recent_notes_from_user_page') %>
<% end %>