<p id="notice"><%= notice %></p>
<%= link_to 'Add New Study', new_study_path %>&nbsp;&nbsp;&nbsp;<%= link_to 'View Existing Studies', studies_path %>
<h1>Welcome, <%=@user.full_name%> (<%=@user.username%>)!</h1>

<p>
<br/><strong>Email:</strong><%= @user.email %>
<br/><strong>Contact number:</strong><%= @user.contact_number %>
<br/><strong>Team:</strong><%= (@user.team_id.nil?)? ' No Team Assigned' : @user.team_id %>
<br/><strong>Supervisor:</strong><%= (@user.supervisor_id.nil?)? ' No Supervisor Assigned' : @user.supervisor.full_name  %>
<br/></p>
<br/><%= link_to 'Register New Participant', new_participant_path %>
<br/><%= link_to 'Back to All Participants', participants_path %><br/>
<p></br>Find Participant by Name <input type="text"> <input type ="button" value="Find">
</p>

<%= link_to 'Edit My Details', edit_user_path(@user) %> |
<%= link_to 'Back to All Users (Admin)', users_path %>

<h2>Upcoming Notifications (This Week):</h2>
 <table>
  <thead>
     <tr>
      <th>&nbsp;</th>
      <th>Participant</th>
      <th colspan="2">Notification Date</th>
     </tr>
  </thead> 
  <tbody>
    <% @upcoming_notes_notification.each do |note| %>
    <tr>
      <td><%= link_to "See Note.", participant_note_path(note.participant.id,note.id)%></td>
      <td><%= link_to note.participant.name, note.participant %>
      <td><%= link_to "Snooze", edit_participant_note_path(note.participant.id,note.id) %></td>
      <td><%=note.notify_on.inspect%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Recently Contacted Participants</h2>
<table>
   <thead>
       <tr>
         <th>Last Contact Date</th>
         <th>Participant</th>
         <th>Contact Number</th>
         <th>Email Address</th>
         <th>Study</th>
         <th>Status</th>
         <th colspan="3"></th>
       </tr>
  </thead> 
   <tbody>
     <% @recently_contacted_participants.each do |participant| %>
       <tr>
         <td><%= time_ago_in_words(participant.last_contacted_at) %> ago</td>
         <td><%= link_to participant.name, participant %></td>
         <td><%= link_to participant.contact_number %></td>
         <td><%= link_to participant.email %></td>
         <td><%= participant.study.study_name %></td>
         <td><%= ((participant.active)? ('Active'):('Dropped Out')) %></td>
         <td><%= link_to 'Show', participant %></td>
         <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
         <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>
 </table>

 <h2>Your Recent Notes:</h2>
 <table>
  <thead>
     <tr>
      <th>&nbsp;</th>
      <th>Participant</th>
      <th>Last Modified</th>
     </tr>
  </thead> 
  <tbody>
    <% @recent_notes_from_user.each do |note| %>
    <tr>
      <td><%= link_to "See Note.", participant_note_path(note.participant.id,note.id)%></td>
      <td><%= link_to note.participant.name, note.participant %>
      <td><%= time_ago_in_words(note.updated_at)%> ago</td>
    <% end %>
    </tr>
  </tbody>
</table>