<p id="notice"><%= notice %></p>

<h1>Inactive Users</h1>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email/Username</th>
      <th>Contact number</th>
      <th>Team</th>
      <th>Supervisor</th>
      <th>Activate?</th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.contact_number %></td>
        <td><% unless user.team_id.nil? %> <%= link_to Team.find(user.team_id).name, Team.find(user.team_id) %><%end%></td>
        <td><% if user.supervisor_id.nil? %>
              <% if user.supervisorNameNotAUser.nil? %>
                <%= user.supervisorNameNotAUser %>
              <% end %>
            <% else %>
              <%= link_to User.find(user.supervisor_id).name, user_path(user.supervisor_id) %>
            <% end %>
        </td>
          <td><%=link_to 'Activate User', activate(user.id), method: :put%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
