<p id="notice"><%= notice %></p>
<% if @pending_users.empty? %>
  <h2>Hooray! No users pending approval.</h2>
<% else %>
  <h1>Users Pending Approval</h1>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Full name</th>
        <th>Email/Username</th>
        <th>Contact number</th>
        <th>Team</th>
        <th>Supervisor</th>
        <th>Admin?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pending_users.each do |user| %>
        <tr>
          <td><%= link_to user.full_name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.contact_number %></td>
          <td><% unless user.team_id.nil? %> <%= link_to Team.find(user.team_id).name, Team.find(user.team_id) %><%end%></td>
          <td><% if user.supervisor_id.nil? %>
                <% unless user.supervisorNameNotAUser.nil? %>
                  <%= user.supervisorNameNotAUser %>
                <% end %>
              <% else %>
                <%= link_to User.find(user.supervisor_id).full_name, user_path(user.supervisor_id) %>
              <% end %>
          </td>
          <td>  <% if user.isAdmin? %>
                  <%=link_to 'Remove Admin Rights', remove_admin_rights_path(user.id), method: :put%>
                <% else %>
                  <%=link_to 'Set as Admin', add_admin_rights_path(user.id), method: :put%>
                <% end %>
          </td>
          <td><%= link_to 'Approve', approve_user_path(user.id), method: :put %></td>
          <td><%= link_to 'Reject' , reject_user_path(user.id), method: :put %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>
