<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user.contact_number %>
</p>

<p>
  <strong>Team:</strong>
  <% if @current_user.isAdmin? %>
    <%= link_to @user.team.name, team_path(@user.team_id) %>
  <% else %>
    <%= @user.team.name %>
  <% end %>
</p>

<p>
  <strong>Supervisor:</strong>
  <% if @user.supervisor_id.nil? %>
    <%= @user.supervisorNameNotAUser %>
  <% else %>
    <%= link_to User.find(@user.supervisor_id).full_name, user_path(@user.supervisor_id) %>
  <% end %>
</p>
<% if (@current_user.isAdmin?) || (@current_user.id == @user.id) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
