<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user.contact_number %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<p>
  <strong>Supervisor:</strong>
  <% if @user.supervisor_id.nil? %>
    <%= @user.supervisorNameNotAUser %>
  <% else %>
    <%= link_to User.find(@user.supervisor_id).full_name, user_path(@user.supervisor_id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
