<p id="notice"><%= notice %></p>

<h1>
  <%= @study.study_name %>
</h1>
<% if @study.description.present? %><p><%= @study.description %></p><% end %>

<h2>
  <% if @participants_in_this_study.empty? %>
    There are no participants in this study. 
    <%= link_to 'Register a participant to add them here.', new_participant_path %>
  <% else %>
    Participants for <%= @study.study_name %>:
  <% end %>
</h2>
<% unless @participants_in_this_study.empty? %>
<table class='table table-striped'>
   <thead>
       <tr>
         <th>Last Contact Date</th>
         <th>Participant</th>
         <th>Contact Number</th>
         <th>Email Address</th>
         <th>Status</th>
         <% if false && @current_user && @current_user.isAdmin %>
          <th colspan="3"></th>
         <% else %>
          <th colspan="2"></th>
         <% end %>
       </tr>
  </thead> 
   <tbody>
      <% @participants_in_this_study.each do |participant| %>
       <tr>
         <td><% unless participant.last_contacted_at.nil? %> <%=time_ago_in_words(participant.last_contacted_at)%> ago <% end %></td>
         <td><%= link_to participant.first_name, participant %> <%= link_to participant.surname, participant %></td>
         <td><%= link_to participant.primary_contact_number %></td>
         <td><%= link_to participant.email %></td>
         <td><%= participant.status %></td>
         <td><%= link_to 'Show', participant %></td>
         <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
         <% if false && @current_user && @current_user.isAdmin %>
          <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
       </tr>
      <% end %>
   </tbody>
</table>
<%=will_paginate(@participants_in_this_study) %>
<% end %>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
