<p id="notice"><%= notice %></p>

<h1>
  <%= @study.study_name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @study.description %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
