<!DOCTYPE html>
<html>
  <head>
    <title>Loggr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Remove THIS and replace with sessions -->
    <% @user = User.last %>
    <% unless @user.nil? %>
      <h2 align="right"> Logged in as: <%=@user.full_name%> (<%=@user.username%>) </h2>
    <% end %>
    <%= yield %>
  </body>
</html>
