<!DOCTYPE html>
<html>
  <head>
    <title>Loggr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h2 align="right">
    <% if @current_user.nil? %>
      New User?&nbsp;<%= link_to 'Sign Up!', '/signup' %> | <%= link_to 'Forgot Password?', '/signup' %>
    <% else %>
       Loggd in as:&nbsp;<%=@current_user.full_name%> (<%=@current_user.email%>) | <%= link_to "Logout", '/logout' %>
    <% end %>
  </h2>
    <%=yield %>
</html>
